//========================================================//
//===// Incorporating required mixins scss variables //===//
//========================================================//

@use './functions' as *;

//==================//
//===// Mixins //===//
//==================//

//===// Mobile layout //===//

@mixin mobile {
  @media screen and (min-width: brake(mobile)) {
    @content;
  }
}

//===// Error //===//

@mixin error {
  position: absolute;
  z-index: -1;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  color: color(danger-clr);
  transition: opacity var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out;
}
