//================================================================//
//===// Incorporating required default layout scss variables //===//
//================================================================//

@use '../abstracts' as *;

//============================//
//===// Layout - default //===//
//============================//

//===// Root //===//

:root {
  --transition-duration: 250ms;
}

//===// Scrollbar //===//

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color(dark-clr);
}

//===// Text selection //===//

::selection {
  background-color: color(accent-clr);
  color: color(selection-clr);
}

//===// Body //===//

body {
  background-color: color(light-clr);
  color: color(dark-clr);
  font-family: font(main);
  line-height: 1.5;
}

//===// Container //===//

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}

//===// Header //===//

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;

  &__title {
    font-size: 1.25rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__show-btn {
    font-weight: 700;
  }
}

//===// Main //===//

//===// Create task

.create-task {
  display: flex;
  flex-direction: column;
  height: 100%;
  visibility: hidden;
  margin-block: 0.75rem;
  padding-block: 0.5rem;
  transition: height var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out,
    margin var(--transition-duration) ease-in-out;
  animation: create-task-hide var(--transition-duration) ease-in-out;

  &--visible {
    visibility: visible;
    margin-block: 1.25rem 2rem;
    animation: create-task-show var(--transition-duration) ease-in-out;
  }

  & > div:last-of-type {
    margin-top: 1rem;
  }

  &__label {
    display: block;
    position: relative;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    &::before {
      content: 'Please fill in the field!';
      bottom: -0.25rem;
      right: 0;

      @include alert;
    }
  }

  .alert.create-task__label::before {
    opacity: 1;
    visibility: visible;
  }

  &__input {
    position: relative;
    width: 100%;
    background-color: color(light-clr);
    border: 3px solid color(dark-clr);
    color: color(dark-clr);
    font-size: 1.15rem;
    padding: 0.5em;

    &[name='date'] {
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        inset: 0;
        left: 7.8rem;
        height: auto;
        width: auto;
        cursor: pointer;
        background: transparent;
        color: transparent;
        border-left: 3px solid color(dark-clr);
      }

      &::before {
        content: '\f133';
        position: absolute;
        top: 50%;
        right: 21px;
        color: color(dark-clr);
        font-family: 'Font Awesome 6 Free';
        transform: translateY(-50%);
      }
    }
  }

  &__submit {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 2rem;
    transition: box-shadow var(--transition-duration) ease-in-out,
      background-color var(--transition-duration) ease-in-out;

    &:hover,
    &:focus {
      background-color: color(create-clr);
    }

    &:active {
      background-color: color(create-clr--active);
    }

    &--alert {
      background-color: color(danger-clr);

      &:hover,
      &:focus {
        background-color: color(danger-clr);
      }

      &:active {
        background-color: color(danger-clr--active);
      }
    }
  }
}

//===// Tasks

.tasks {
  border-top: 3px solid color(dark-clr);
  padding-top: 2rem;
  margin-bottom: 8rem;

  &__title {
    margin-bottom: -1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__no-tasks {
    margin-bottom: 4rem;
  }
}

//===// Task

.task {
  &__name {
    position: relative;
    overflow: visible;
    cursor: pointer;
    font-size: 1.15rem;
    border: none;
    background-color: color(light-clr);
    color: color(dark-clr);
    padding: 0.5em 0;

    &:hover + &-border::after,
    &:focus + &-border::after {
      transform: scaleX(100%);
    }

    &-border {
      position: relative;
      display: block;

      &::before {
        @include alert;

        content: "Task name can't be empty!";
        top: -2.5rem;
        right: 0;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: -6px;
        height: 3px;
        width: 100%;
        pointer-events: none;
        user-select: none;
        background-color: color(dark-clr);
        transform: scaleX(25%);
        transform-origin: left;
        transition: transform var(--transition-duration) ease-in-out;
      }
    }
  }

  .alert.task__name-border::before {
    opacity: 1;
    visibility: visible;
  }

  &__date {
    position: relative;
    margin-block: 1rem 2rem;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__picker {
      position: relative;
      width: 19px;
      appearance: none;
      user-select: none;
      background-color: color(dark-clr);
      cursor: pointer;
      border: none;
      color: color(light-clr);
      font-size: 1.15rem;

      &::-webkit-datetime-edit-text,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-year-field {
        display: none;
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }

      &::before {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0.2px;
        background-color: color(light-clr);
        color: color(dark-clr);
        font-family: 'Font Awesome 6 Free';
        content: '\f133';
      }
    }
  }

  &__change {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-rows: 1fr;
    gap: 2rem 0.5rem;

    & > * span {
      height: 100%;
      display: grid;
      place-items: center;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-title {
      box-shadow: 5px 5px color(light-clr--dimmed);
      background-color: color(dark-clr);
      color: color(light-clr);
      text-align: center;
      font-weight: 700;
      padding: 0.5em 1em;
      margin-bottom: -1rem;

      &:first-of-type {
        grid-row: 1;
        grid-column: 1;
      }

      &:nth-of-type(2) {
        grid-row: 1;
        grid-column: 2;
      }

      &:last-of-type {
        grid-row: 3;
        grid-column: span 2;
      }
    }

    &-btn {
      transition: box-shadow var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;

      & > i {
        transition: transform var(--transition-duration) ease-in-out;
      }

      &:hover,
      &:focus {
        & > i {
          transform: scale(1.15);
        }
      }
    }

    &-value {
      box-shadow: 5px 5px color(light-clr--dimmed);
      border: 3px solid var(--bg-clr, color(dark-clr));
      font-weight: 700;
      text-align: center;
      transition: background-color var(--transition-duration) ease-in-out,
        border-color var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
    }

    &-status {
      grid-row: 2;
      grid-column: 1;

      &-0 {
        --bg-clr: #{color(status-0-bg-clr)};

        background-color: color(status-0-bg-clr);
        color: color(status-0-clr);
      }

      &-1 {
        --bg-clr: #{color(status-1-bg-clr)};

        background-color: color(status-1-bg-clr);
        color: color(status-1-clr);
      }

      &-2 {
        --bg-clr: #{color(status-2-bg-clr)};

        background-color: color(status-2-bg-clr);
        color: color(status-2-clr);
      }
    }

    &-priority {
      grid-row: 2;
      grid-column: 2;

      &-0 {
        --bg-clr: #{color(priority-0-bg-clr)};

        background-color: color(priority-0-bg-clr);
        color: color(priority-0-clr);
      }

      &-1 {
        --bg-clr: #{color(priority-1-bg-clr)};

        background-color: color(priority-1-bg-clr);
        color: color(priority-1-clr);
      }

      &-2 {
        --bg-clr: #{color(priority-2-bg-clr)};

        background-color: color(priority-2-bg-clr);
        color: color(priority-2-clr);
      }

      &-3 {
        --bg-clr: #{color(priority-3-bg-clr)};

        background-color: color(priority-3-bg-clr);
        color: color(priority-3-clr);
      }
    }

    &-position {
      grid-row: 4;
      grid-column: span 2;

      display: flex;
      flex-direction: row;

      & > button {
        width: 100%;
      }
    }
  }

  &__remove-btn {
    grid-row: 5;
    grid-column: span 2;
    font-size: 1.5rem;
    transition: box-shadow var(--transition-duration) ease-in-out,
      background-color var(--transition-duration) ease-in-out;

    &:hover,
    &:focus {
      background-color: color(danger-clr);
    }

    &:active {
      background-color: color(danger-clr--active);
    }
  }
}

//===// Footer //===//

.footer {
  display: flex;
  gap: 1rem;
}
