@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

code {
  line-height: 1.25em;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  --status-0-bg-clr: hsl(225 55% 60%);
  --status-0-clr: hsl(225 15% 95%);
  --status-1-bg-clr: hsl(215 80% 45%);
  --status-1-clr: hsl(215 100% 95%);
  --status-2-bg-clr: hsl(130 60% 40%);
  --status-2-clr: hsl(160 100% 95%);
  --priority-0-bg-clr: hsl(225 55% 60%);
  --priority-0-clr: hsl(225 15% 95%);
  --priority-1-bg-clr: hsl(130 60% 40%);
  --priority-1-clr: hsl(160 100% 95%);
  --priority-2-bg-clr: hsl(40 100% 58%);
  --priority-2-clr: hsl(40 100% 94%);
  --priority-3-bg-clr: hsl(10 100% 58%);
  --priority-3-clr: hsl(10 100% 94%);
}

body {
  --light-clr: hsl(0 0% 98%);
  --dark-clr: hsl(0 0% 20%);
  --light-clr--dimmed: hsl(0 0% 49%);
  --accent-clr: hsl(250 80% 60%);
  --selection-clr: hsl(0 0% 98%);
  --create-clr: hsl(130 60% 40%);
  --danger-clr: hsl(0 70% 50%);
  --create-clr--active: hsl(130 60% 35%);
  --danger-clr--active: hsl(0 70% 45%);
}

body.dark {
  --light-clr: hsl(0 0% 20%);
  --dark-clr: hsl(0 0% 92%);
  --light-clr--dimmed: hsl(0 0% 49%);
  --accent-clr: hsl(250 80% 60%);
}

@-webkit-keyframes create-task-show {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes create-task-show {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes create-task-hide {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}
@keyframes create-task-hide {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}
.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--dark-clr);
  border: none;
  outline: none;
  box-shadow: 5px 5px var(--accent-clr);
  color: var(--light-clr);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: box-shadow 250ms ease-in-out;
}
.btn--icon {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn--dimmed {
  color: var(--light-clr--dimmed);
}
.btn:hover, .btn:focus {
  box-shadow: 7.5px 7.5px 0 var(--accent-clr);
}

:root {
  --transition-duration: 250ms;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-clr);
}

::-moz-selection {
  background-color: var(--accent-clr);
  color: var(--selection-clr);
}

::selection {
  background-color: var(--accent-clr);
  color: var(--selection-clr);
}

body {
  background-color: var(--light-clr);
  color: var(--dark-clr);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.header__title {
  font-size: 1.25rem;
}
.header__buttons {
  display: flex;
  gap: 1rem;
}
.header__show-btn {
  font-weight: 700;
}

.create-task {
  display: flex;
  flex-direction: column;
  height: 100%;
  visibility: hidden;
  margin-block: 0.75rem;
  padding-block: 0.5rem;
  transition: height var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out, margin var(--transition-duration) ease-in-out;
  -webkit-animation: create-task-hide var(--transition-duration) ease-in-out;
          animation: create-task-hide var(--transition-duration) ease-in-out;
}
.create-task--visible {
  visibility: visible;
  margin-block: 1.25rem 2rem;
  -webkit-animation: create-task-show var(--transition-duration) ease-in-out;
          animation: create-task-show var(--transition-duration) ease-in-out;
}
.create-task > div:last-of-type {
  margin-top: 1rem;
}
.create-task__label {
  display: block;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.create-task__label::before {
  content: "Please fill in the field!";
  bottom: -0.25rem;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  visibility: hidden;
  background-color: var(--dark-clr);
  box-shadow: 5px 5px var(--light-clr--dimmed);
  color: var(--light-clr);
  font-size: 0.75rem;
  padding: 0.5em 1em;
  transition: opacity var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out;
}
.create-task .alert.create-task__label::before {
  opacity: 1;
  visibility: visible;
}
.create-task__input {
  position: relative;
  width: 100%;
  background-color: var(--light-clr);
  border: 3px solid var(--dark-clr);
  color: var(--dark-clr);
  font-size: 1.15rem;
  padding: 0.5em;
}
.create-task__input[name=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  inset: 0;
  left: 7.8rem;
  height: auto;
  width: auto;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border-left: 3px solid var(--dark-clr);
}
.create-task__input[name=date]::before {
  content: "\f133";
  position: absolute;
  top: 50%;
  right: 21px;
  color: var(--dark-clr);
  font-family: "Font Awesome 6 Free";
  transform: translateY(-50%);
}
.create-task__submit {
  width: 100%;
  font-size: 1.25rem;
  margin-top: 2rem;
  transition: box-shadow var(--transition-duration) ease-in-out, background-color var(--transition-duration) ease-in-out;
}
.create-task__submit:hover, .create-task__submit:focus {
  background-color: var(--create-clr);
}
.create-task__submit:active {
  background-color: var(--create-clr--active);
}
.create-task__submit--alert {
  background-color: var(--danger-clr);
}
.create-task__submit--alert:hover, .create-task__submit--alert:focus {
  background-color: var(--danger-clr);
}
.create-task__submit--alert:active {
  background-color: var(--danger-clr--active);
}

.tasks {
  border-top: 3px solid var(--dark-clr);
  padding-top: 2rem;
  margin-bottom: 8rem;
}
.tasks__title {
  margin-bottom: -1rem;
}
.tasks__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.tasks__no-tasks {
  margin-bottom: 4rem;
}

.task__name {
  position: relative;
  overflow: visible;
  cursor: pointer;
  font-size: 1.15rem;
  border: none;
  background-color: var(--light-clr);
  color: var(--dark-clr);
  padding: 0.5em 0;
}
.task__name:hover + .task__name-border::after, .task__name:focus + .task__name-border::after {
  transform: scaleX(100%);
}
.task__name-border {
  position: relative;
  display: block;
}
.task__name-border::before {
  position: absolute;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  visibility: hidden;
  background-color: var(--dark-clr);
  box-shadow: 5px 5px var(--light-clr--dimmed);
  color: var(--light-clr);
  font-size: 0.75rem;
  padding: 0.5em 1em;
  transition: opacity var(--transition-duration) ease-in-out, visibility var(--transition-duration) ease-in-out;
  content: "Task name can't be empty!";
  top: -2.5rem;
  right: 0;
  z-index: 1;
}
.task__name-border::after {
  content: "";
  position: absolute;
  top: -6px;
  height: 3px;
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--dark-clr);
  transform: scaleX(25%);
  transform-origin: left;
  transition: transform var(--transition-duration) ease-in-out;
}
.task .alert.task__name-border::before {
  opacity: 1;
  visibility: visible;
}
.task__date {
  position: relative;
  margin-block: 1rem 2rem;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.task__date__picker {
  position: relative;
  width: 19px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--dark-clr);
  cursor: pointer;
  border: none;
  color: var(--light-clr);
  font-size: 1.15rem;
}
.task__date__picker::-webkit-datetime-edit-text, .task__date__picker::-webkit-datetime-edit-month-field, .task__date__picker::-webkit-datetime-edit-day-field, .task__date__picker::-webkit-datetime-edit-year-field {
  display: none;
}
.task__date__picker::-webkit-calendar-picker-indicator {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.task__date__picker::before {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0.2px;
  background-color: var(--light-clr);
  color: var(--dark-clr);
  font-family: "Font Awesome 6 Free";
  content: "\f133";
}
.task__change {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-auto-rows: 1fr;
  gap: 2rem 0.5rem;
}
.task__change > * span {
  height: 100%;
  display: grid;
  place-items: center;
}
.task__change-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task__change-title {
  box-shadow: 5px 5px var(--light-clr--dimmed);
  background-color: var(--dark-clr);
  color: var(--light-clr);
  text-align: center;
  font-weight: 700;
  padding: 0.5em 1em;
  margin-bottom: -1rem;
}
.task__change-title:first-of-type {
  grid-row: 1;
  grid-column: 1;
}
.task__change-title:nth-of-type(2) {
  grid-row: 1;
  grid-column: 2;
}
.task__change-title:last-of-type {
  grid-row: 3;
  grid-column: span 2;
}
.task__change-btn {
  transition: box-shadow var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
}
.task__change-btn > i {
  transition: transform var(--transition-duration) ease-in-out;
}
.task__change-btn:hover > i, .task__change-btn:focus > i {
  transform: scale(1.15);
}
.task__change-value {
  box-shadow: 5px 5px var(--light-clr--dimmed);
  border: 3px solid var(--bg-clr, var(--dark-clr));
  font-weight: 700;
  text-align: center;
  transition: background-color var(--transition-duration) ease-in-out, border-color var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
}
.task__change-status {
  grid-row: 2;
  grid-column: 1;
}
.task__change-status-0 {
  --bg-clr: var(--status-0-bg-clr);
  background-color: var(--status-0-bg-clr);
  color: var(--status-0-clr);
}
.task__change-status-1 {
  --bg-clr: var(--status-1-bg-clr);
  background-color: var(--status-1-bg-clr);
  color: var(--status-1-clr);
}
.task__change-status-2 {
  --bg-clr: var(--status-2-bg-clr);
  background-color: var(--status-2-bg-clr);
  color: var(--status-2-clr);
}
.task__change-priority {
  grid-row: 2;
  grid-column: 2;
}
.task__change-priority-0 {
  --bg-clr: var(--priority-0-bg-clr);
  background-color: var(--priority-0-bg-clr);
  color: var(--priority-0-clr);
}
.task__change-priority-1 {
  --bg-clr: var(--priority-1-bg-clr);
  background-color: var(--priority-1-bg-clr);
  color: var(--priority-1-clr);
}
.task__change-priority-2 {
  --bg-clr: var(--priority-2-bg-clr);
  background-color: var(--priority-2-bg-clr);
  color: var(--priority-2-clr);
}
.task__change-priority-3 {
  --bg-clr: var(--priority-3-bg-clr);
  background-color: var(--priority-3-bg-clr);
  color: var(--priority-3-clr);
}
.task__change-position {
  grid-row: 4;
  grid-column: span 2;
  display: flex;
  flex-direction: row;
}
.task__change-position > button {
  width: 100%;
}
.task__remove-btn {
  grid-row: 5;
  grid-column: span 2;
  font-size: 1.5rem;
  transition: box-shadow var(--transition-duration) ease-in-out, background-color var(--transition-duration) ease-in-out;
}
.task__remove-btn:hover, .task__remove-btn:focus {
  background-color: var(--danger-clr);
}
.task__remove-btn:active {
  background-color: var(--danger-clr--active);
}

.footer {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 48em) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__title {
    font-size: 1.5rem;
  }
  .task__change {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: repeat(4, auto);
    gap: 1rem 0.5rem;
  }
  .task__change-title {
    margin-bottom: auto;
  }
  .task__change-title:last-of-type {
    margin-block: 1rem auto;
  }
  .task__remove-btn {
    grid-row: span 4;
    grid-column: 3;
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
}